.tableWrapper{
    font-family: Arial;
    border-collapse: collapse;
    width: 100%;
}
.tableWrapper td, .tableWrapper th{
    border: 1px solid #ddd;
    padding: 8px;

}
.tableWrapper tr:nth-child(even){background-color: #f2f2f2;}
  
.tableWrapper tr:hover {background-color: #ddd;}

.tableWrapper th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: black;
  }
  .numberValue{
      text-align: right;
  }
